<div class="container">
  <h1>{{title}}</h1>
  <form>
    <div class="form-group">
      <label>Enter a UserAccountControl value</label>
      <input (input)="decode($event.target.value)" class="form-control">
      <small class="form-text text-muted">This is the value found on an object in Active Directory</small>
    </div>
    <div class="form-group">
      <label>Binary Value</label>
      <input readonly class="form-control-plaintext" value="{{binaryUac}}">
      <small class="form-text text-muted">The 32-bit binary equivalent</small>
    </div>
  </form>
  <div>{{error}}</div>
  <table class="table">
    <thead>
      <th scope="col">Property Flag</th>
      <th scope="col">Binary</th>
      <th scope="col">Decimal</th>
    </thead>
    <tbody>
      <tr *ngFor="let value of uacRefValues" [ngClass]="{'table-primary': value.matched}">
        <td>{{value.name}}</td>
        <td>{{value.binary}}</td>
        <td>{{value.decimal}}</td>
      </tr>
    </tbody>
  </table>
</div>
